/* Global Definitions */

/* Fonts */
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

* {
	font-family: 'Roboto';
}

/* CSS variables */
html {
	/* Colors */
	--color-abyss-blue: #1a2b44;
	--color-grey: #999a9c;
	--color-white: #ffffff;

	/* Sizing */
	--border-radius-default: 26px;
	--spacing-default: 0.5rem;

	/* Font Sizes */
	--font-weight-bold: 500;
	--font-size-large: 3.5rem;
	--font-size-default: 2rem;
	--font-size-small: 1rem;
}

/* Remove default margin */
* {
	margin: 0;
}